name: PR Discord Notification

on:
  pull_request:
    types: [opened, closed, reopened]

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - name: Install jq
        run: sudo apt-get install -y jq

      - name: Send Discord Notification
        run: |
          # PR 정보 가져오기
          prTitle="${{ github.event.pull_request.title }}"
          prUser="${{ github.event.pull_request.user.login }}"
          prAction="${{ github.event.action }}"
          prUrl="${{ github.event.pull_request.html_url }}"
          prMerged="${{ github.event.pull_request.merged }}"

          if [ "$prAction" == "opened" ]; then
            MESSAGE="**새로운 PR이 도착했습니다!**
            
            - PR 제목: **${prTitle}**
            - 등록한 사람 : **${prUser}**
            - 리뷰하러 가기 : [클릭](${prUrl})"
          elif [ "$prAction" == "closed" ] && [ "$prMerged" == "true" ]; then
            MESSAGE="**PR이 머지되었습니다!**
            
            - PR 제목: **${prTitle}**
            - 등록한 사람 : **${prUser}**
            - 리뷰하러 가기 : [클릭](${prUrl})"
          elif [ "$prAction" == "closed" ]; then
            MESSAGE="**PR이 닫혔습니다**
            
            - PR 제목: **${prTitle}**
            - 등록한 사람 : **${prUser}**
            - 리뷰하러 가기 : [클릭]('"${prUrl}"')"
          elif [ "$prAction" == "reopened" ]; then
            MESSAGE="**PR이 다시 열렸습니다!**
            
            - PR 제목: **${prTitle}**
            - 등록한 사람 : **${prUser}**
            - 리뷰하러 가기 : [클릭](${prUrl})"
            [PR 확인](${prUrl})"
          else
            MESSAGE="❓  알 수 없는 PR 이벤트: **${prTitle}** by ${prUser}.\nLink: ${prUrl}"
          fi

          # 디스코드 봇의 사용자 이름과 아바타 URL 설정
          USERNAME="웅? 어엉..? 이게 뭐여..! PR이잖아..?"
          AVATAR_URL="https://i.ibb.co/dQKDmNj/test.jpg"  # 원하는 아바타 이미지 URL로 변경하세요

          # JSON 형식으로 메시지 구성
          DATA=$(jq -n \
            --arg content "$MESSAGE" \
            --arg username "$USERNAME" \
            --arg avatar_url "$AVATAR_URL" \
            '{content: $content, username: $username, avatar_url: $avatar_url}')

          # Discord 웹훅으로 메시지 전송
          RESPONSE=$(curl -s -o /dev/null -w "%{http_code}" -X POST -H 'Content-Type: application/json' -d "$DATA" "${{ secrets.DISCORD_WEBHOOK_URL }}")

          # 응답 코드 확인
          if [ "$RESPONSE" -ne 204 ]; then
            echo "Failed to send Discord notification. HTTP Status Code: $RESPONSE"
            exit 1
          fi
