name: PR Discord Notification

on:
  pull_request:
    types: [opened, closed, reopened]

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - name: Send Discord Notification
        env:
          DATA: |
            {
              "embeds": [
                {
                  "title": "23-Munbin-Lee",
                  "description": "새로운 PR이 도착했습니다!\n\nhttps://www.acmicpc.net/problem/1756",
                  "url": "https://github.com/Jjiggu/CodingTest/pull/171"
                }
              ]
            }
        run: |
          curl -X POST -H 'Content-Type: application/json' \
          -d "$DATA" \
          ${{ secrets.DISCORD_WEBHOOK_URL }}
